<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GTV Configurator" %></title>

    <%= stylesheet_link_tag 'application', media: :screen %>
    <%= stylesheet_link_tag 'print', media: :print %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({ google: ['Nunito', 'Oxygen']}) %>
  </head>

  <body>

    <%= render 'layouts/top_bar' %>
    <%= render 'layouts/breadcrumbs' %>

    <% if content_for?(:page_title) %>
      <div class="row expanded large-10 columns">
          <%= yield :page_title %>
      </div>
    <% end %>

    <div class="row expanded large-10 columns">
      <h3 class="text-center"><%= display_flash_messages %></h3>
    </div>

    <div class="row expanded large-10 columns">
      <%= yield %>
    </div>

  </body>
</html>
